@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.sidebar {
    width: 250px;
    height: 100vh;
    background: linear-gradient(180deg, #323636, #788282);
    color: #fff;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

.profile-section {
    text-align: center;
    margin-bottom: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #bdcdcd;
}

.profile-section h3 {
    font-size: 18px;
    margin: 10px 0 5px;
    font-weight: bold;
}

.profile-section p {
    font-size: 14px;
    color: #ddd;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    
}

.menu li {
    width: 100%;
}

.menu li a {
    font-weight: 300;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    padding: 15px 20px;
    transition: background 0.3s, color 0.3s;
    font-size: 16px;
}

.menu li a i {
    margin-right: 15px;
    font-size: 20px;
}

.menu li a:hover {
    color: #ffe600;
    transform: scale(1.1);
    font-weight: 500;
}

.social-links {
    margin-top: auto;
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #fff;
    font-size: 20px;
    transition: transform 0.3s, color 0.3s;
}

.social-links a:hover {
    color: #ffe600;
    transform: scale(1.2);
}


.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    background-color: #323636;
    color: #fff;
    padding: 20px;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#home {
    margin-left: 250px;
    width: calc(100% - 250px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
    padding: 20px 50px;
    background: linear-gradient(to bottom right, #788282, #323636);
    color: #fff;
}

#home .content {
    width: 50%;
}

#home h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
}

#home p {
    font-size: 1.2rem;
    line-height: 1.8;
    margin-bottom: 20px;
}

.content p .highlight {
    color: #FFD700;
    font-style: italic;
}

.highlight {
    color: #FFD700;
}

.profile-section .highlight {
    color: #FFD700;
}

.passions-list {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    position: relative;
    height: 40px;
    overflow: hidden;
}

.passions-list li {
    font-size: 1.5rem;
    font-weight: lighter;
    color: #FFD700;
    position: absolute;
    opacity: 0;
    animation: slide 6s infinite;
}

.passions-list li:nth-child(1) {
    animation-delay: 0s;
}

.passions-list li:nth-child(2) {
    animation-delay: 2s;
}

.passions-list li:nth-child(3) {
    animation-delay: 4s;
}

@keyframes slide {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    10% {
        transform: translateY(0);
        opacity: 1;
    }

    30% {
        transform: translateY(0);
        opacity: 1;
    }

    40% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(-100%);
        opacity: 0;
    }
}


#home .profile {
    width: 40%;
    text-align: center;
}

#home .profile img {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 768px) {
    .sidebar {
        width: 200px;
    }

    #home {
        margin-left: 200px;

    }
}


#about {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 50px;
    background: #363b3b;
    color: #fff;
}

h1,
h2 {
    color: #FFD700;
    margin-bottom: 20px;
}

.about-details .highlight {
    color: #FFD700;
    font-style: italic;
    font-weight: bold;
}

.about-container {
    display: flex;
    gap: 30px;
    align-items: center;
    flex: 1;
}

.about-image img {
    max-width: 250px;
    height: 400px;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.about-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.about-details p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.8;
    margin-top: 10px;
}

.personal-info {
    list-style: none;
    padding: 0;
}

.personal-info li {
    margin: 10px 0;
    font-size: 1rem;
}

.personal-info strong {
    font-weight: bold;
    color: #FFD700;
}

.education-container {
    padding: 20px 0;
    border-top: 1px solid #FFD700;
}

.timeline-columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.timeline {
    list-style: none;
    padding: 0;
    flex: 1;
}

.timeline li {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    font-size: 1rem;
}

.timeline p {
    margin-top: 12px;
}

.timeline .year {
    font-weight: bold;
    color: #FFD700;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .about-container {
        flex-direction: column;
        text-align: center;
    }

    .about-image img {
        max-width: 200px;
        margin-bottom: 20px;
    }

    .timeline-columns {
        flex-direction: column;
    }

    #about {
        margin-left: 200px;
    }
}

#skills {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    padding: 20px 50px;
    background: #363b3b;
    color: #fff;
}


#skills h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}



.bars {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    justify-content: center;
    margin-top: 20px;
}


#skills {
    padding: 50px 20px;
    background-color: #323636;
    color: white;
    text-align: center;
}

#skills h1 {
    font-size: 2.5rem;
    margin-bottom: -20px;
}

.skills-section h2,
.additional-skills h2 {
    margin-top: 30px;
    margin-bottom: 40px;
    color: #C0C0C0;
    text-transform: uppercase;
    font-size: 20px;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
    margin-bottom: 50px;
}

.progress-circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(#bdcdcd calc(var(--progress) * 1%),
            #131313 0deg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.progress-circle::before {
    content: '';
    position: absolute;
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-color: #323636;
}

.progress-circle .progress-value {
    position: absolute;
    font-size: 1rem;
    margin-bottom: 10px;
    color: white;
}

.skill-item i {
    position: absolute;
    top: 58px;
    font-size: 1.5rem;
}

.skill-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #C0C0C0;
}

.additional-skills {
    display: flex;
    justify-content: space-around;
}

.skill-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    color: #FFD700 !important;
}
/* Projects Section */
#projects {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    padding: 20px 50px;
    background: #363b3b;
    color: #fff;
}

#projects h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.project-box {
    background: linear-gradient(to bottom right, #788282, #3d3d3d);

    border-radius: 15px;
    /* box-shadow: 10px 10px 20px #d1d1d1, -10px -10px 20px #ffffff; */
    transition: transform 0.3s, box-shadow 0.3s;
    overflow: hidden;
}

.project-box:hover {
    transform: scale(1.05);
    box-shadow: 10px 10px 30px #bfbfbf;
}

.project-content {
    padding: 20px;
    text-align: center;
    height: 200px;
}

.project-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #444;
    margin-bottom: 10px;
}

.project-content p {
    font-size: 1rem;
    color: #777;
}

.project-box a {
    text-decoration: none;
    color: inherit;
    display: block;
    height: 100%;
    width: 100%;
}

#contact {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px 50px;
    background: #363b3b;
    color: #fff;
    height: 80vh;
}

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    gap: 60px;
    width: 80%;
}

.contact-details {
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.contact-details h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 40%;
}


.contact-details ul {
    list-style-type: none;
    padding: 0;
    margin-top: -27%;
}

.contact-details ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
}

.contact-details ul li i {
    font-size: 50px;
    margin-right: 10px;
    text-decoration: none;
    color: black;
}

.contact-details ul li a {
    color: white;
    font-weight: 300;
    text-decoration: none;
    transition: color 0.3s ease;
}

.contact-form {
    background: linear-gradient(180deg, #323636, #788282);
    padding: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(219, 219, 219);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: 300;
}

.contact-form label {
    margin-bottom: 10px;
    font-size: 1rem;
}

.contact-form input,
.contact-form textarea {
    background-color: #363b3b;
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.contact-form .submit-container {
    display: flex;
    justify-content: flex-end;
}

.contact-form .sub {
    background-color: #131313;
    color: #fffefe;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}